<div id="experiencie">
  <section class="experience">
    <div class="experience__title">
      <p class="experience__subtitle">EXPERIENCIA</p>
      <p class="experience__main-title">TRABAJO Y EDUCACIÓN</p>
    </div>

    <div class="experience__time-line">


      <ol class="time-line">
        <li>
          <div class="time-line__description">
            <div class="time-line__date">Enero 2019</div>
            <div class="time-line__content">Autodidacta: Aprendizaje Autonomo</div>
            <div class="time-line__content">FullStack Developer</div>
          </div>
        </li>
        <li>
          <div class="time-line__description">
            <div class="time-line__date">Marzo 2021 - Diciembre 2023</div>
            <div class="time-line__content">I.E.S.T.P "24 De Julio De Zarumilla"</div>
            <div class="time-line__content">Técnico en Computación e Informática</div>
          </div>
        </li>
        <li>
          <div class="time-line__description">
            <div class="time-line__date">Octubre 2021 - Diciembre 2021</div>
            <div class="time-line__content">UDEMY</div>
            <div class="time-line__content">Desarrollo Web</div>
          </div>
        </li>
        <li>
          <div class="time-line__description">
            <div class="time-line__date">Julio 2021 - Actualidad</div>
            <div class="time-line__content">Hm Consulting</div>
            <div class="time-line__content">FullStack Developer</div>
          </div>
        </li>
       
      </ol>
    </div>
  </section>
</div>
