<div id="projects"
     class="container">
     <section class="projects">
          <div class="projects__title">
               <p class="projects__subtitle">Ver Todo</p>
               <p class="projects__main-title">Mis Proyectos Personales</p>
          </div>

          <div class="projects__collage">

               <a href="https://github.com/keylarivasseminario/controlsistema"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/proyect-qr-java.PNG"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description">Sistema Escritorio: Ingreso Vehicular - Genera QR
                    </div>
               </a>



               <a href="https://keylarivasseminario.github.io/primer-proyecto/"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/web-pets.JPG"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description">WEB-RESPONSIVE MY PETS
                    </div>
               </a>

               <a href="https://keylarivasseminario.github.io/reloj-keyla/"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/Captura-reloj.PNG"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description">RELOJ DIGITAL HTML-CSS-JS.
                    </div>
               </a>



               <a href="https://keylarivasseminario.github.io/presupuesto/"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/Captura-presupuesto.PNG"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description">Proyecto-Presupuesto</div>
               </a>

               <a href="https://github.com/keylarivasseminario/sitioweb1"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/proyect-joomla.jpeg"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description">Pagina-productos</div>
               </a>

               <a href="https://github.com/keylarivasseminario/proyecto_tienda"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/proyect-wordpress.jpeg"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description">Eccomerce-Carrito-De-Compras</div>
               </a>

               <a href="https://keylarivasseminario.github.io/nuevo_listado_personas/"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/Captura-lista.PNG"
                         class="projects__collage-img">
                    <div class="projects__collage-card-description">Login Listado-de-personas</div>
               </a>

               <a href="https://keylarivasseminario.github.io/calculadora-angular/"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/project__calculadora.png"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description"> Proyecto-Calculadora </div>
               </a>



               <a href="https://github.com/keylarivasseminario/SISTEMA-CAFETIN"
                  target="_blank"
                  class="projects__collage-card">
                    <img src="./assets/img/proyect-venta-cafetin-java.PNG"
                         class="projects__collage-img">

                    <div class="projects__collage-card-description"> Sistema-Ventas-Genera-ticket y Repote Jaspert
                         Report</div>
               </a>
          </div>

     </section>
</div>