<ng-particles [id]="id"
              [options]="particlesOptions"
              [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)">

</ng-particles>


<section id="banner"
         class="banner">
  <div class="banner__title">
    <h3 class="banner__yo">Hola, mi nombre es keyla</h3>
    <h1 class="banner__soy">Soy Web Developer</h1>
  </div>

</section>


<a class="banner__ws"
   target="_blank"
   href="https://wa.me/51918883593">
  <img src="../../assets/img/banner_ws.png"
       alt="">
</a>
